*{
   
    margin: 0;
    padding: 0;
}



.card-body{
    background-color:rgb(99, 238, 118);
    
}
.carousel-control-next-icon:hover{
    background-color: black;
}
.carousel-control-prev-icon:hover{
background-color: black;
}
.carousel-inner img{
    
    width: 100%;
    height: 100%;
}

#hor{
    height: 30px;
    width: 245px;
    text-align: center;
    align-items: center;
}
#navi:hover{
    color: white;
    background-color: rgb(123, 173, 123);
}
#legend{
    background-color: rgb(123, 173, 123);
    width: 100%;
    
}
#footer{
     background-color: rgb(3, 66, 3); 
    color: rgb(255, 255, 255);
    height: 200px;
    padding: 50px;
}
#fthr{
    height: px;
    border: 1px dashed;
    border-color: rgb(255, 255, 255);
    size: 50px;
}